.DS_Store
.DS_Store
AprendiendoTkinter/.DS_Store
Modulo 1/Ejemplos/Documentacion
Modulo 1/Actividades/Documentación
Modulo 1/Tareas/tarea-0*.py
Modulo 1/Proyecto/Documentación
Modulo 1/Proyecto/proyecto-01.py
Modulo 1/Tareas/Documentacion
Modulo 2/Ejemplos/ejemplo-05.py
Modulo 2/Actividades/Documentacion
Modulo 2/Proyecto/Documentacion
Modulo 2/Tareas/Documentacion
.DS_Store
.DS_Store
Aprendiendo Python/.DS_Store
.DS_Store
Modulo 4/Proyectos/__pycache__/